<p id="notice"><%= notice %></p>

<h1>Listing Fichiers</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Mooc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fichiers.each do |fichier| %>
      <tr>
        <td><%= fichier.nom %></td>
        <td><%= fichier.mooc %></td>
        <td><%= link_to 'Show', fichier %></td>
        <td><%= link_to 'Edit', edit_fichier_path(fichier) %></td>
        <td><%= link_to 'Destroy', fichier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fichier', new_fichier_path %>
