<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @fichier.nom %>
</p>

<p>
  <strong>Mooc:</strong>
  <%= @fichier.mooc %>
</p>

<%= link_to 'Edit', edit_fichier_path(@fichier) %> |
<%= link_to 'Back', fichiers_path %>
