<p id="notice"><%= notice %></p>

<h1>Listing Bdds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bdds.each do |bdd| %>
      <tr>
        <td><%= link_to 'Show', bdd %></td>
        <td><%= link_to 'Edit', edit_bdd_path(bdd) %></td>
        <td><%= link_to 'Destroy', bdd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bdd', new_bdd_path %>
