<h2>Fichiers</h2>

<div class='well'>
  <%= form_for Fichier.new, :html => { :multipart => true, :class => "fileupload row", :id => "fichier_s" } do |f| %>
    <%= f.hidden_field :genre, :value => "structure"  %>
    <%= f.hidden_field :mooc_id, :value => "1"  %>
    <span class='col-sm-2 text-right'>Structure cours :</span>
    <label for="fichier_structure" class="fileinput-button btn btn-success col-sm-3 btn-xs fs">
      <span class='fsc'><span>Choisir un fichier</span></span>
    </label>
      <%= f.file_field :structure, :value => "Chat", :name => "fichier[fichier]", :class => "hidden" %>
<% end %>
<%= form_for Fichier.new, :html => { :multipart => true, :class => "fileupload", :id => "fichier_l" } do |f| %>
    <div class='row'>
    <%= f.hidden_field :genre, :value => "log"  %>
    <%= f.hidden_field :mooc_id, :value => "1"  %>
    <label class='col-sm-2 text-right'>Logs :</label>
    <%= f.file_field :log, :name => "fichier[fichier]", :class => "col-sm-4" %>
    <button class='btn btn-primary btn-xs col-sm-1'>Charger</button>
  </div>
<% end %>
  <div class="progress progress-success progress-striped active">
    <div id="progress" class="progress-bar" style="width:0%;"></div>
  </div>
</div>




