<p id="notice"><%= notice %></p>

<h1>Listing Moocs</h1>

<form id="select_mooc">
  <select>
      <% @moocs.each do |mooc| %>
        <option value="<%=mooc.id%>" onclick="loadMOOC(<%=mooc.id%>)"><%= mooc.nom%></option>
      <% end %>
  </select>
</form>

<%= link_to 'New Mooc', new_mooc_path %>
<br>


<hr>

<div id="info_mooc"></div>
