<p id="notice"><%= notice %></p>

<h1>Listing Moocs</h1>

<table>
  <thead>
    <tr>
      <th>Auteur</th>
      <th>Id cours</th>
      <th>Periode</th>
      <th>Bdd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moocs.each do |mooc| %>
      <tr>
        <td><%= mooc.auteur %></td>
        <td><%= mooc.id_cours %></td>
        <td><%= mooc.periode %></td>
        <td><%= mooc.bdd %></td>
        <td><%= link_to 'Show', mooc %></td>
        <td><%= link_to 'Edit', edit_mooc_path(mooc) %></td>
        <td><%= link_to 'Destroy', mooc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<li>
  <% @moocs.each do |mooc| %>
    <ul><%= mooc.bdd%></ul>
  <% end %>
</li>

<!--form>
    <select>
      <% @moocs.each do |mooc| %>
          <option><%= mooc.bdd%></option>
      <% end %>
  </select>
</form-->

<br>

<%= link_to 'New Mooc', new_mooc_path %>
